@page "/Enrollments"
@using BlazorContosoUniversity.Data
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager
@inherits BlazorContosoUniversity.Shared.DBContextPage
<h3>Enrollments</h3>
<div class="col-md-6">
    <a href='/EnrollmentAddEdit/0' class="btn btn-primary" role="button">
        Add new
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Student ID</th>
            <th>Student Name</th>
            <td>Grade</td>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in data)
        {
            <tr>
                <td>@d.EnrollmentID</td>
                <td>@d.CourseID</td>
                <td>@d.Course.Title</td>
                <td>@d.StudentID</td>
                <td>@d.Student.LastName @d.Student.FirstMidName</td>
                <td>@d.Grade</td>

                <td>
                    <a href='/EnrollmentAddEdit/@d.EnrollmentID' class="btn btn-outline-dark" role="button">
                        Edit
                    </a>
                    <button class="btn btn-outline-danger" @onclick="(async () => await Delete(d))">Delete</button>

                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    IEnumerable<BlazorContosoUniversity.Data.Enrollment> data;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        data = dbContext.Enrollments.AsNoTracking().Include("Course").Include("Student");
    }

    protected async Task Delete(Data.Enrollment d)
    {
        dbContext.Remove(d);
        dbContext.SaveChanges();
    }

}